/*Estiliza geral*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*corpo do site*/
body {
    background-color: rgb(248, 244, 244);
}

/*imagem*/
.img {
    text-align: center;
    padding-top: 150px;
}

.navbar {
    background-color: red;
}

.desconectar {
    padding-left: 25px;
    position: absolute;
    right: 40px;
    text-decoration: none;
    color: white;
}

/*o box do login*/
.content-center {
    width: 100%;
    max-width: 350px;
    margin:auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(226, 225, 225);
    border-radius: 15px;
}

.content-center .text-center {
    text-align: center;
}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}

.content-form input:focus{
    border-color:rgb(245, 19, 19);
}

/*input pro usuario digitar #login*/
.content-form input {
    color: rgb(0, 0, 0);
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 5px;
    outline: none;
}

/*botão do login*/
#btn-submit {
    background-color: rgb(245, 19, 19);
    color: aliceblue;
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 5px;
    outline: none;
}



/*espaço entre a img e a borda vermelha #home*/
.navbar {
    padding: 30px;
    margin-top: 0px;
}



/*sidebar lateral #topicos*/
.sidebar{
    position: fixed;
    width: 220px;
    height: 100%;
    background: rgb(43, 40, 40);
   

}

/*links #topicos*/
a.nav-link{
    color: black;
    padding: 0.6rem;
    display: inline-block;

} 

/*efeitos #topicos*/
.sidebar li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    color:rgb(255, 255, 255);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: .4s;
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul li:hover a{
    padding-left: 30px;
}

.sidebar i {
    padding-right: 10px;
}

/*tabela produto*/

h2{
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn-cadastrar,
.cadastrar-produto {
    margin: 10px;
    padding: 10px;
    
}

.pesquisa-produto {
    margin: 10px;
    margin-left: 0;
    padding: 10px;

}


.btn-pesquisar {
    padding: 10px;
    color: aliceblue;
    background-color: green;
    margin: 0;
    border: none;
}

/*espaço do conteudo ao sidebar*/
.produto{
    margin-left: 250px;
    
}

/*tabela*/
.table-produto, tr, td, th{
    border: 1px solid rgb(179, 179, 179);
    border-collapse: collapse;
    width: 1000px;
    height: 50px;
    text-align: center;
}

/*titulo da tabela*/
.table-thead {
    background-color: rgb(74, 190, 70);
}

/*linhas da tabela*/
.table-produto tbody tr:nth-child(even) {
    background-color: rgb(208, 211, 211);
}

/*botao delete*/
.btn-danger{
    border-radius: 10px ;
    border: none;
    background: red;
    width: 80px;
    height: 40px;
    color: aliceblue;
}


/*tabela relatorio*/
.relatorio {
    margin-left: 250px;
}

/*tabela #relatorio*/
.table-relatorio {
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    height: 50px;
    text-align: center;
}

/*titulo #relatorio*/
.table-relatorio thead{
    background-color: rgb(74, 190, 70);
}



/*reserva*/
.reserva {
    margin-left: 250px;
}


/*tabela #reserva*/
.table-reserva {
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    height: 50px;
    text-align: center;
}

/*botao de seleção*/
.select {
    color: rgb(0, 0, 0);
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    padding: 10px 5px;
    outline: none;
}

/*botao para digitar #reserva*/
.input-digitar {
    color: rgb(0, 0, 0);
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    padding: 10px 5px;
    outline: none;
}

/*botao para reservar #reserva*/
.input-reserva {
    background-color: rgb(245, 19, 19);
    color: aliceblue;
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    padding: 10px 5px;
    outline: none;
}


.content-relatorio {
    padding-left: 300px;
}