<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/37aaf3f1ce.js" crossorigin="anonymous"></script>
    <title>Senai GO</title>
</head>

<body>
        <!-- Navbar content -->
        <!--IMAGEM-->
    <div class="navbar">
    <nav>
        <a class="navbar-brand" href="home">
            <img src="../static/img/logoSenai.png" width="100" height="30"></a>

        <a class="desconectar" href="/"> <i class="fa-solid fa-arrow-right-from-bracket"></i></a>

    </nav>
    </div>
    <!--AÇÕES-->
    <div class="sidebar">
        <ul class="nav-link">
            <li><a href="produto"><i class="fa-solid fa-box-archive"></i><span>Produto</span></a> </li>
            
            <li><a href="cadastrarProduto"><i class="fa-solid fa-box-archive"></i> <span>Cadastrar Produto</span></a> </li>

            <li><a href="emprestimo"><i class="fa-solid fa-code-compare"></i> <span>Empréstimo</span> </a></li>
            
            <li><a href="reserva"><i class="fa-solid fa-code-compare"></i> <span>Reserva</span> </a></li>
            
            <li><a href="relatorio"><i class="fa-solid fa-newspaper"></i> <span>Relatório</span> </a></li>


        </ul>
    </div>



    <div class="body-content">
        <!--Bloco para recarregar nesta pagina-->
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>