/*Estiliza geral*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

/*Corpo do sistema*/
body {
    background-color: rgb(248, 244, 244);
}

/*Cabeçario do sistema*/
.navbar{
    background-color: rgb(245, 19, 19);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.desconectar{
    color: white;
    text-decoration: none;

}

/*Divisão de colunas entre os tópicos e a tabela*/
.container-grid{
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 1fr;
    overflow-x: auto;
    height: 3000px;
}

/*Espaço do sidebar ao conteúdo*/
.container {
    margin-left: 30px;
}

/*Sidebar*/
.sidebar{
    width: 220px;
    height: 30000;
    background: rgb(43, 40, 40);
}

/*Links #topicos*/
.nav-link a{
    color: rgb(255, 255, 255);
    padding: 0.6rem;
    display: inline-block;
} 

/*Animação da borda vermelha nos links*/
a {
    text-decoration: none;
    position: relative;
    color: rgb(43, 43, 43);
}

/*Animação da borda  vermelha nos links*/
a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(245, 19, 19);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

/*Animação da borda vermelha nos links*/
a:hover::after {
    width: 100%;
}

/*Efeitos #topicos*/
.sidebar li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    color:rgb(255, 255, 255);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: .4s;
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Distância da borda #topicos*/
ul li:hover a{
    padding-left: 30px;
}

/*Espaço do item dos topicos*/
.sidebar i {
    padding-right: 10px;
}

/*Titulo da página*/
h2{
    padding-bottom: 30px;
    padding-top: 30px;
}

/*Botão de pesquisar/atualizar/enviar/reserva/cadastrar*/
.botao {
    padding: 10px;
    margin: 10;
    color: aliceblue;
    background-color: green;    
    border: none;
}

/*Botão de pesquisar/atualizar/enviar/reserva/cadastrar mudar de cor*/
.botao:hover {
    background-color:rgb(4, 109, 4);
    cursor: pointer;
}


/*TABELA*/
.table, tr, td, th{
    border: 1px solid rgb(179, 179, 179);
    border-collapse: collapse;
    width: 1000px;
    height: 50px;
    text-align: center;
    table-layout: auto;
}

/*Titulo da tabela*/
.table-thead {
    background-color: rgb(74, 190, 70);
}

/*Linhas da tabela*/
.table tbody tr:nth-child(even) {
    background-color: rgb(208, 211, 211);
}

/*Botão delete #Tabela Produtos*/
.btn-danger{
    border-radius: 10px ;
    border: none;
    background: red;
    width: 80px;
    height: 40px;
    color: aliceblue;
}

/*Botão delete mudar a cor #Tabela Produtos*/
.btn-danger:hover{
    background-color: rgb(175, 25, 25);
    cursor: pointer;
}

/*Botão para reservar #reserva*/
.input-reserva {
    background-color: rgb(245, 19, 19);
    color: aliceblue;
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    padding: 10px 5px;
    outline: none;
    
}

/*Botão de seleção de produtos*/
.select {
    color: rgb(0, 0, 0);
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    padding: 10px 5px;
    outline: none;
    
}

/*Campo onde o usuário digita*/
.input {
    color: rgb(0, 0, 0);
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    padding: 10px 5px;
    outline: none;
}


@media(max-width:500px){
    .container-grid .sidebar {
        max-width: 50px;
    }
    .sidebar a span{
        display: none;
    }
    .container-grid {
        grid-template-columns: 30px 1fr;
    }
    .table {
        width: 300px;
        font-size: 13px;
        overflow:auto;
    }
    h2 {
        font-size: 15px;
    }
    .btn-danger {
        border-radius: 5px ;
        width: 40px;
        height: 20px;
        font-size: 10px;
    }
    .botao {
        padding: 5px;
        margin: 5;
    }
    .input{
        padding: 5px 2px;
    }
    .header{
        width: 100%;
    }
}