* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(248, 244, 244);
}

.img {
    text-align: center;
    padding-top: 150px;
}

.content-center {
    width: 100%;
    max-width: 350px;
    margin:auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(226, 225, 225);
    border-radius: 15px;
}

.content-center .text-center {
    text-align: center;

}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}


.content-form input:focus{
    border-color:rgb(245, 19, 19);
}

.content-form input {
    color: aliceblue;
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 5px;
    outline: none;
}


#btn-submit {
    background-color: rgb(245, 19, 19);
    color: aliceblue;
    border: none;
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 5px;
    outline: none;
}