<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lucas.DEV </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="img">
        <img src="../static/img/logoSenai.png" alt="Imagem de fundo">
    </div>
    
    <!-- para centralizar o conteúdo -->
    <section class="content-center">
        <form action="login" method="post" id="form-login" >

            <!--Input para mandar pro email, placeholder para exiber o que o campo faz, required é falando que o campo é obrigatorio  -->
            <div class="content-form">
                <input type="email" name="email" placeholder="Usuário" required>
               
                <input type="password" name="senha" placeholder="Senha" requered>
            </div>

            <div>
                <input type="submit" placeholder="Entrar" id="btn-submit">
            </div>

        </form>
    </section>
</body>
</html>