<!DOCTYPE html>
<html lang="en">
    <!--Bloco para recarregar em uma unica pagina-->
    {% extends "home.html" %}
    {% block content %}

    <form action="produtoEmUso" method="post" align="center">
        <h2>Disponibilidade</h2>
        <!--Criação do formato de tabela -->
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade Disponivel</th>
                <th scope="col">Localização</th>
                <th scope="col">  </th>
              </tr>
            </thead>
            <tbody>
              <!--Lógica para preencher a tabela com os produtos diretamente do banco de dados-->
              {% for chamado in lista  %}
              <tr>
                  <td>{{ chamado[0] }}</td>
                  <td>{{ chamado[1] }}</td>
                  <td>{{ chamado[2]  }}</td>
                  <td>{{ chamado[3] }}</td>
                  <td>{{ chamado[4] }}</td>
                  
                  <td>   
                    <!-- Botão vinculado diretamente com o produto -->
                      <form method="post" action="excluirProduto">
                      <input type="text" value="{{ chamado[0]}}" name="id_excluir" hidden>
                      <input type="submit" value="Deletar" class="btn btn-danger">
                      </form>
                  </td>

              </tr>
              {% endfor %}
          </tbody> 
          </table>

    
    </form>


    
    {% endblock %}  