<!DOCTYPE html>
<html lang="en">
<!--Bloco para recarregar em uma unica pagina-->
{% extends "home.html" %}
{% block content %}


<form action="relatorio" method="post" align="center">
    <h2>Detalhes do emprestimo</h2>
    <!--Criação do formato de tabela -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Responsavel</th>
                <th scope="col">Hora do empréstimo</th>
            </tr>
        </thead>
        <tbody>
            <!--Lógica para adicionar dados diretamente do banco de dados-->
            {% for relatorio in lista %}
            <tr>
                <td>{{ relatorio[0] }}</td>
                <td>{{ relatorio[1] }}</td>
                <td>{{ relatorio[2] }}</td>
                <td>{{ relatorio[3] }}</td>
                <td>{{ relatorio[4] }}</td>
                <td>{{ relatorio[5] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</form>


{% endblock %}