<!DOCTYPE html>
<html lang="en">

<!--Bloco para recarregar em uma unica pagina-->
{% extends "home.html" %}
{% block content %}


<form action="reserva" method="post" align="center">
  <h2>Deseja reservar um produto?</h2>

  <select name="reservar_select" class="form-select form-select-sm" aria-label=".form-select-sm example">
    <!--Lógica para o usuario selecionar material diretamente do banco de dados-->
    {% for relatorio in lista %}

    <option>{{ relatorio[0] }}</option>

    {%endfor%}

  </select>

  <input type="text" placeholder="Qual é a quantidade?">

  <br>
  <br>
  <input value="Reservar" type="submit">


  </select>
</form>



{% endblock %}